In [1]:
import pandas as pd

In [4]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":180,"ow":320,"type":"jetson"}
# camera disabled between runs
# 0 filters

l1 = pd.Series([31.86,23.74,20.97,27.41,42.08,37.13,40.72,39.37,26.76,43.69])
l1.describe()

count    10.000000
mean     33.373000
std       8.263153
min      20.970000
25%      26.922500
50%      34.495000
75%      40.382500
max      43.690000
dtype: float64

In [14]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":180,"ow":320,"type":"jetson"}
# camera enabled between runs
# 0 filters

l2 = pd.DataFrame({'internal':[30.03, 22.56,21.73,20.42,17.41,22.65,14.99,19.28,29.99,20.80],
                'external':[30.4, 23.2,22.4,21.6,17.6,23.6,15.6,20.4,30.4,21.6]})
l2['delay'] = l2['external'] - l2['internal']
l2.describe()

       internal   external      delay
count  10.00000  10.000000  10.000000
mean   21.98600  22.680000   0.694000
std     4.83817   4.759272   0.323975
min    14.99000  15.600000   0.190000
25%    19.56500  20.700000   0.460000
50%    21.26500  22.000000   0.655000
75%    22.62750  23.500000   0.912500
max    30.03000  30.400000   1.180000

In [19]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":360,"ow":640,"type":"jetson"}
# camera enabled between runs
# 0 filters

l3 = pd.DataFrame({'internal':[20.88,23.57,33.44,31.78,25.91,31.63,16.60,24.99,27.62,31.55],
                'external':[22.0,24.0,34.4,32.8,26.4,32.0,17.6,26.4,28.8,32.4]})
l3['delay'] = l3['external'] - l3['internal']
l3.describe()

        internal   external      delay
count  10.000000  10.000000  10.000000
mean   26.797000  27.680000   0.883000
std     5.467492   5.418651   0.347117
min    16.600000  17.600000   0.370000
25%    23.925000  24.600000   0.580000
50%    26.765000  27.600000   0.980000
75%    31.610000  32.300000   1.095000
max    33.440000  34.400000   1.410000

In [20]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":540,"ow":960,"type":"jetson"}
# camera enabled between runs
# 0 filters

l4 = pd.DataFrame({'internal':[34.92,24.80,31.34,30.48,37.34,24.13,35.34,20.48,27.92,32.87],
                'external':[35.2,25.6,31.6,30.8,38.0,24.4,35.6,21.2,28.8,34.0]})
l4['delay'] = l4['external'] - l4['internal']
l4.describe()

        internal   external      delay
count  10.000000  10.000000  10.000000
mean   29.962000  30.520000   0.558000
std     5.510593   5.461949   0.319819
min    20.480000  21.200000   0.260000
25%    25.580000  26.400000   0.272500
50%    30.910000  31.200000   0.490000
75%    34.407500  34.900000   0.780000
max    37.340000  38.000000   1.130000

In [22]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":720,"ow":1280,"type":"jetson"}
# camera enabled between runs
# 0 filters

l5 = pd.DataFrame({'internal':[28.01,30.36,33.85,29.97,35.81,40.01,34.71,30.22],
                'external':[28.4,31.6,34.0,30.4,36.0,40.4,35.2,31.6]})
l5['delay'] = l5['external'] - l5['internal']
l5.describe()

        internal   external     delay
count   8.000000   8.000000  8.000000
mean   32.867500  33.450000  0.582500
std     3.951877   3.776242  0.465273
min    28.010000  28.400000  0.150000
25%    30.157500  31.300000  0.340000
50%    32.105000  32.800000  0.410000
75%    34.985000  35.400000  0.677500
max    40.010000  40.400000  1.380000

In [29]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":720,"ow":1280,"type":"jetson"}
# camera enabled between runs
# 3 filters

l6 = pd.DataFrame({'internal':[36.0,40.32,34.99,44.44,31.96,41.94,35.49,33.88,34.08,45.25]})
l6.describe()

        internal
count  10.000000
mean   37.835000
std     4.747543
min    31.960000
25%    34.307500
50%    35.745000
75%    41.535000
max    45.250000

In [31]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":540,"ow":960,"type":"jetson"}
# camera enabled between runs
# 3 filters

l7 = pd.DataFrame({'internal':[26.18,32.61,30.53,24.22,31.33,29.80,26.82,33.9,37.19,39.13]})
l7.describe()

        internal
count  10.000000
mean   31.171000
std     4.755882
min    24.220000
25%    27.565000
50%    30.930000
75%    33.577500
max    39.130000

In [33]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":360,"ow":640,"type":"jetson"}
# camera enabled between runs
# 3 filters

l8 = pd.DataFrame({'internal':[36.27,24.94,41.47,36.95,28.49,24.8,36.29,31.65,35.92,30.19]})
l8.describe()

       internal
count  10.00000
mean   32.69700
std     5.56508
min    24.80000
25%    28.91500
50%    33.78500
75%    36.28500
max    41.47000

In [37]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":180,"ow":320,"type":"jetson"}
# camera enabled between runs
# 3 filters

l8 = pd.DataFrame({'internal':[27.93,18.73,29.0,26.43,16.94,27.65,20.25,21.02,20.25,26.72]})
l8.describe()

        internal
count  10.000000
mean   23.492000
std     4.461091
min    16.940000
25%    20.250000
50%    23.725000
75%    27.417500
max    29.000000

In [39]:
# {"ch":720,"cw":1280,"exp":0.05,"flip":0,"fps":60,"oh":180,"ow":320,"type":"jetson"}
# camera enabled between runs
# 2 filters - aspect, fullness

l8 = pd.DataFrame({'internal':[13.96,19.98,15.3,32.01,28.37,28.20,15.77,26.42,24.92,28.63]})
l8.describe()

        internal
count  10.000000
mean   23.356000
std     6.542801
min    13.960000
25%    16.822500
50%    25.670000
75%    28.327500
max    32.010000